*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: lightpink;
}

img.drinkImage {
    max-height: 35vh;
    max-width: 50vh;
}

#drinkImage {
    max-height: 35vh;
    max-width: 50vh;
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.cocktail {
    background: aliceblue;
    width: 50vh;
    padding: 15px;
    margin-bottom: 20px;
    position: absolute;
    border-radius: 5%;
}

h2#drinkNames {
    text-align: center;
}

h3#ingredientsTitle {
    text-align: center;
}

h3#instructionsTitle {
    text-align: center;
}

ul#ingredients {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}

#instructions {
    font-family: 'Hind Siliguri', sans-serif;
}

.carousel-button {
    text-align: center;
    height: 50px;
    width: 221px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background: rgb(189, 220, 246);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.slide[data-active] {
    opacity: 1;

}

.slide {
    opacity: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 443px;
    margin: auto;
}

#containerMain {
    display: flex;
    flex-direction: column-reverse;
}

.buttons {
    visibility: hidden;
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
}

.container2 {
    width: 445px;
    text-align: center;
}

.searchForm {
    padding: 2em 0em;
}

h1 {
    font-family: 'DynaPuff', cursive;
    font-size: 3em;
    color: rgb(215, 242, 245);
}

h2 {
    font-family: 'Dynapuff';
    font-size: 2em;
    margin-top: 0em;
}

h3 {
    font-family: 'Hind Siliguri', sans-serif;
}

input.drinkSearch {
    width: 335px;
    height: 38px;
    background-color: aliceblue;
    border: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.25em;

}

input.searchButton {
    height: 38px;
    width: 100px;
    background: aliceblue;
    font-family: 'Hind Siliguri';
    border: none;
    font-size: 1.25em;
}

input.searchButton:hover {
    background: rgb(189, 220, 246);
    color: white;
}