*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img.drinkImage {
    max-height: 35vh;
    max-width: 50vh;
}

#drinkImage {
    max-height: 35vh;
    max-width: 50vh;
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.cocktail {
    background: aliceblue;
    width: 50vh;
    padding: 15px;
    margin-bottom: 20px;
    position: absolute;
}

h2#drinkNames {
    text-align: center;
}

h3#ingredientsTitle {
    text-align: center;
}

h3#instructionsTitle {
    text-align: center;
}

ul#ingredients {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
    z-index: 10;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0,0,0,.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem
}

.slide[data-active] {
    opacity: 1;

}

.slide {
    opacity: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 443px;
    margin: auto;
}

#containerMain {
    display: flex;
    flex-direction: column-reverse;
}

.buttons {
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container2 {
    width: 445px;
    text-align: center;
}